* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding-top: 30px;
    padding-right: 20%;
    padding-left: 20%;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.invitation {
    position: relative;
    top: 40%;
    text-align: center;
}

.invitation-button {
    margin-top: 20px;
    text-align: center;

}

.invitation-button button,
.invitation-button a {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d4edda;
    color: #155724;
    border: none;
    font-size: 20px;
}

.invitation-button a {
    min-width: 320px;
    height: 65px;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-decoration: none;
    background: #d4edda;
    color: #155724;
}

.invitation-button button:hover {
    background-color:#155730;
    color: white;
}

.hide {
    display: none;
}