@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@CHARSET "utf-8";

html {
    height: 100%;
}

.mainbody {
    width:100%;
    height:100%;
    font-family: "Nanum Gothic", arial, helvetica, sans-serif;
    background-repeat: no-repeat;
    background:linear-gradient(to bottom right, #66F8F0, #20B2AA);
}

.wait {
    width:85%;
    background-repeat: no-repeat;
    background:linear-gradient(to bottom right, #148CFF, #5AD2FF);
    position:absolute;
    top:50%;
    margin-left:100px;
    margin-top:-150px;
    border-radius: 10px;
}

.waiting {
    color : #FF3232;
    font-weight: bold;
    font-size:65px;
}
